.country-cities {
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.weather-card.small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    background-color: #0B0C1E;
}

.weather-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 12px;
    cursor: pointer;
}

.weather-card .city {
    flex: 1; /* Ocupa el espacio sobrante */
    min-width: 0; /* Permite recorte si es muy largo */
}

.weather-card .icon {
    width: 32px;     /* Fijar ancho para alinear iconos */
    text-align: center;
}

.weather-card .temp {
    width: 60px;     /* Ancho fijo para alinear temperaturas */
    text-align: right;
    white-space: nowrap;
}

@media (min-width: 900px) {

    .country-cities.desktop-only {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 1rem;
        padding: 1rem;
        background-color: #2C3045;
    }

    .light-mode .country-cities.desktop-only {
        background-color: #e8f0ff;
    }

    .light-mode .weather-card.small {
        color: #fff;
    }

    .city {
        font-weight: 400;
        font-size: 28px;
    }

    .icon {
        font-size: 28px;
    }

    .temp {
        font-weight: 100;
        font-size: 30px;
    }


}