.air-good {
    color: #84FF71;
}

.air-moderate {
    color: yellow;
}

.air-bad {
    color: red;
}


.weather-details-row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}



@media (min-width: 900px) {

    .map-info-container.desktop-only {
        margin-top: 18px;
        display: flex;
        gap: 12px;
        border-radius: 1rem;
        align-items: center;
        flex-direction: row;
        background-color: #2C3045;
    }

    .map-placeholder {
        padding: 1rem;
        margin-top: 1rem;
        width: 50%;

        iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            border: none;
            outline: none;
            border-radius: 20px;
        }
    }

    .weather-details {
        padding: 12px;
        border-radius: 12px;
        font-weight: 400;
        font-size: 20px;
        background-color: none;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .weather-details>div:nth-child(2) {
        border-bottom: white 1px solid;
        border-top: white 1px solid;
        padding: 1rem 0;
    }

    .light-mode .map-info-container {
        background-color: #1B1D2E;
    }

    .light-mode .weather-details {
        color: #fff;
    }
}