@media (max-width: 899px) {

    .weather-today {
        margin-top: 14px;
        padding: 12px;
        border-radius: 12px;
    }

    .current-weather {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: #1B1D2E;
        border-radius: 2rem;
        border: none;
        gap: 12px;
        margin-left: 3.5rem;
        width: 80%;
        padding: 8px;
    }

    .current-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    .current-right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .place {
        font-weight: 600;
        font-size: 40px;
        color: #fff;
    }

    .temp-now {

        font-size: 50px;
        font-weight: 700;
        color: #fff;
    }

    .big-icon>img {
        width: 10rem;
        margin-left: 2.5rem;
    }

    .location h2 {
        margin: 0;
        font-size: 18px;
    }

    .desc {
        margin: 6px 0 0;
        color: rgba(255, 255, 255, 0.8);
    }

    .description {
        display: none;
    }

    .ligth.current-weather {
        background-color: #1B1D2E;
    }


}

@media (min-width: 900px) {
    .weather-today {
        display: block;
        padding: 18px;
        background-color: #2C3045;
        border-radius: 12px;

    }

    .current-weather {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        padding: 8px;
        background-color: #1B1D2E;
        border-radius: 2rem;
        border: none;
    }

    .current-left {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .big-icon {
        margin-right: 2rem;
    }


    .temp-now {
        font-size: 80px;
        font-weight: 600;
    }

    .location {
        display: flex;
        margin: 0;
        font-size: 18px;
    }

    .location h2 {
        margin: 0;
        font-size: 18px;
    }

    .place {
        font-weight: 600;
        font-size: 40px;
    }

    .description {
        margin-left: 12px;
        font-weight: 300;
        font-size: 40px;

    }

    .description::first-letter {
        text-transform: uppercase;
    }

    .description {
        display: flex;
    }

    .light-mode .current-weather {
        color: #fff;
    }

    .light-mode .weather-today {
        background-color: #e8f0ff;
        border: none;
    }



}


.favorite-btn {
    font-size: 2rem;
    color: #880000;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 6px;
    transition: 0.2s;
    position: relative;
    padding: 0;
    outline: none;

    i {
        transition: opacity 0.2s;
    }

    .bi-heart, .bi-heartbreak-fill {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.favorite-btn:hover {
    :first-child {
        opacity: 0 !important;
    }
    :nth-child(2) {
        opacity: 1 !important;
    }
}